ion-toolbar {
  /* temporary fix for back button overflowing */
  --padding-start: 20px;
  --min-height: 44px;
}

ion-action-sheet.homePageActionSheet {
  /* role: "destructive" button iOS styling override */
  --ion-color-danger: #868e96;
}

ion-content {
  --padding-bottom: 40px;
}