.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 0.25em;

  height: 5.75em;
  background-color: var(--custom-header-primary);
  padding: 1.125em;
}

.title {
  all: unset;
  grid-column-start: 2;

  font-weight: 600;
  font-size: 1.0625rem;
  color: var(--custom-header-secondary);
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-self: flex-end;
}
